

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
button, button:active, button:hover {
  outline: none;
}
body {
  margin: 0 auto;
font-family: "open_sansregular", sans-serif;
  color: #666666;
}
header {
  width: 100%;
  color: #4D4D4D;
  background: url("../img/top_bg.png")  center -300px no-repeat;
  line-height: 1.4;
  .content {
    width: 1160px;
    margin: 0 auto;
  }

  .fix {
    position: fixed;
    background: #f2f4f6;
    width: 100%;
    z-index: 100;
    .centered {
      margin: 0 auto;
      width: 1160px;
    }
  }
  .active {
    background-color: white;
  }
  .logo {
    display: block;
    float: left;
    margin: 30px 0 0 60px;
  }
  .nav {
    display: block;
    float: left;
    margin: 55px  auto  35px 100px;
    img {
      display: none;
    }
  }
  ul {
    li {
      display: inline-block;

    }
  }
  ul {
    a {
      color: #4D4D4D;
      text-decoration: none;
      padding-left: 20px;
      font-size: 18px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .subscribe {
    display: block;
    float: right;
    margin: 45px 0 0 ;
    button {
      background: transparent url("../img/sing_up_bg.png") -2px no-repeat;
      -webkit-background-size: 100px;
      background-size: 100px;
      border: none;
      border-radius: 20px;
      padding: 15px  0 15px;
      margin-right: 20px;
      outline: none;
      width: 100px;
      box-sizing: border-box;
      font-size: 16px;
    }
    button:hover {
      background: #E6E6E6 none;
      border: none;
      outline: none;
    }
  }
  .feedback {
    text-align: center;
    padding: 150px 0 0;
    width: 450px;
    margin: 0 auto;
    h1 {
      font-size: 58px;
      margin: 50px auto 40px;
      font-weight: normal;
line-height: 1.1;
    }
    p {
      font-size: 20px;
    }
    button {
      margin: 75px 10px 30px 10px;
      padding: 14px 70px;
      text-align: center;
      font-size: 21px;
      border: 1px solid #B18C2A;
      border-radius: 10px;
      box-shadow: 0 0 11px 0 rgba(101, 99, 99, 0.5);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FCE4A8), to(#F2C650));
      background-image: -webkit-linear-gradient(top, #FCE4A8, #F2C650);
      background-image: -moz-linear-gradient(top, #FCE4A8, #F2C650);
      background-image: -ms-linear-gradient(top, #FCE4A8, #F2C650);
      background-image: -o-linear-gradient(top, #FCE4A8, #F2C650);
      background-image: linear-gradient(to bottom, #FCE4A8, #F2C650);
    }
    span {
      display: block;
      width: 235px;
      font-size: 18px;
      margin: 5px auto 15px;
    }
  }
  .items {
    text-align: center;
    margin: 105px auto 90px;
    color: #666666;
    div {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 3px 0 11px 0 rgba(101, 99, 99, 0.5);
      background-color: #fff;
      width: 320px;
      height: 125px;
      margin: 10px 25px;
      vertical-align: top;
      padding: 20px 50px;
      box-sizing: border-box;
    }
    span {
      display: block;
      font-size: 20px;
      line-height: 1.2;
    }
    span.bold {
      font-size: 36px;
      font-weight: 500;
    }
  }
  .steps {
    text-align: center;
    vertical-align: top;
    h2 {
      font-size: 35px;
      font-weight: normal;
    &:after {
      content: '';
      display: block;
      position: relative;
      left: calc(50% - 55px);
      width: 110px;
      border-top: 3px solid #F2C650;
      margin-top: 5px;
    }}
    h5 {
      font-size: 16px;
      margin: 30px 150px;
      font-weight: normal;
    }
    .box {
      display: inline-block;
      vertical-align: bottom;
      line-height: 1;
      background-color: #fff;
      border-radius: 7px;
      width: 360px;
      height: 360px;
      box-sizing: border-box;
      margin: 10px 7px;
      padding: 0 25px;
      box-shadow: 0 6px 10px rgba(101, 99, 99, .5);
      h3 {
        font-size: 20px;
        margin: 10px auto;
        height: 65px;
        &:after {
          content: '';
          display: block;
          position: relative;
          left: calc(50% - 15px);
          width: 30px;
          border-top: 1px solid black;
          margin-top: 5px;
      }}
      span {
        font-size: 16px;
      }
      .num {
        text-align: left;
        font-size: 40px;
        color: #CCCCCC;
        width: 20px;
        margin-top: 20px;
      }
      img {
        margin-top: -40px;
      }
    }
  }
}
.about {
  text-align: center;
  width: 1160px;
  margin: 80px auto 0;
  h2 {
    font-size: 35px;
    font-weight: normal;
    &:after {
      content: '';
      display: block;
      position: relative;
      left: calc(50% - 55px);
      width: 110px;
      border-top: 3px solid #F2C650;
      margin-top: 10px;
    }
  }
  .points {
    margin: 0 auto ;
    .point {
      height: 370px;
      width: 30%;
      margin: 30px 15px;
      display: inline-block;
      h3 {
        padding: 20px 30px;
        font-weight: normal;
        font-size: 26px;
        &:after {
          content: '';
          display: block;
          position: relative;
          left: calc(50% - 15px);
          width: 30px;
          border-top: 1px solid black;
          margin-top: 15px;
        }
      }
      div {
        min-height: 100px;
        img {
          display: inline-block;
          margin: 10% auto;
        }
      }

    }
  }
}
.bg {
  overflow: hidden;
  line-height: 1.3;
  background: #fff url("../img/content_bg.png") no-repeat;
  .testmonials {
    padding-top: 220px;
    .slick-list {
      overflow: visible;
    }
    .slider {
      width: 930px;
      margin: 0 auto;
      .slick-slide {
        opacity: 0.3;
        transform: translate(0, 30px);
        transition: all .3s;
        background: #fff;
        text-align: center;
        outline: none;
        border-radius: 15px;
        box-shadow: 0 8px 15px rgba(101, 99, 99, .5);
        margin:  0 45px;
        .slide {
          padding: 40px;
        }
        img {
          margin: 0 auto;
        }
        blockquote {
          padding: 20px 60px 50px;
        }
       h3 {
         padding-bottom: 10px;
       }
        span {
          color: #F2C650;
        }
      }
      .slick-active {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  .price {
    width: 1160px;
    margin: 0 auto;
    .amazon {
      margin: 60px auto 30px;
      text-align: center;
      }
    p {
      text-align: center;
      width: 400px;
      margin: 0 auto 60px;
        }
      }
    .flags {
      width: 570px;
      height: 85px;
      margin: 0 auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    .pricing {
      text-align: center;
      margin-top: 40px;
      padding-bottom: 90px;
      .table {
        display: inline-block;
        width: 200px;
        margin: 0 7px;
        background-color: #f2f4f6;
        border: 2px solid #E6E6E6;
        div {
          border-bottom: 2px dashed #E6E6E6;
          height: 60px;
          font-size: 12px;
          margin: 0 5px;
          h4 {
            padding: 20px 0;
            font-size: 20px;
          }
          span {
            display: block;
            padding: 20px 0;
          }
        }
        .name {
          height: 90px;
        }
        .trial {
          border: none;
          height: 120px;
          button {
            padding: 10px 30px;
            height: 40px;
            width: 160px;
            text-align: center;
            font-size: 12px;
            border: 1px solid #B18C2A;
            border-radius: 10px;
            box-shadow: 0 0 11px 0 rgba(101, 99, 99, 0.5);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#FCE4A8), to(#F2C650));
            background-image: -webkit-linear-gradient(top, #FCE4A8, #F2C650);
            background-image: -moz-linear-gradient(top, #FCE4A8, #F2C650);
            background-image: -ms-linear-gradient(top, #FCE4A8, #F2C650);
            background-image: -o-linear-gradient(top, #FCE4A8, #F2C650);
            background-image: linear-gradient(to bottom, #FCE4A8, #F2C650);

          }
        }
      }
      .table:hover, .table:active {
        background-color: #fff;
      }
    }
  }
.benefits {
  line-height: 1.3;
  h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
    font-weight: normal;
    &:after {
      content: '';
      display: block;
      position: relative;
      left: calc(50% - 55px);
      width: 110px;
      border-top: 3px solid #F2C650;
      margin-top: 5px;
    }
  }
  h4 {
    font-family: "open_sansregular", sans-serif;
    font-size: 26px;
    font-weight: normal;
  }
  .white {
    width: 1160px;
    margin: 0 auto;
    img {
      margin: 40px 140px;
      display: inline-block;
      width: 190px;
    }
    div {
      display: inline-block;
      width: 540px;
      vertical-align: middle;
      p {
        padding-top: 20px;
      }
    }
  }
  .grey {
    background-color: #f2f4f6;
    .grey-benefit {
      width: 1160px;
      margin: 10px auto;
      img {
        margin: 40px 0 40px 300px;
      }
      div {
        display: inline-block;
        vertical-align: middle;
        width: 540px;
        p {
          padding: 20px 20px 0 0;
        }

      }
    }
  }
}
.faq {
  margin: 0 auto 120px;
  width: 1160px;
  line-height: 1.3;
  h2 {
    font-size: 35px;
    text-align: center;
    margin: 80px 0 20px;
    font-weight: normal;
    &:after {
      content: '';
      display: block;
      position: relative;
      left: calc(50% - 55px);
      width: 110px;
      border-top: 3px solid #F2C650;
      margin-top: 18px;
    }
  }
  .question {
    display: inline-block;
    width: 45%;
    background-color: #f2f4f6;
    margin: 0 7px 15px 0;
    padding: 25px 10px 25px 30px;
    h3 {
      font-size: 26px;
      font-weight: normal;
      padding-right: 150px;
    }
    p {
      font-size: 16px;
      padding-top: 20px;
    }
  }
}
.free {
  background-image: url(../img/footer_bg.jpg);
  text-align: center;
  div {
    width: 700px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .cloud {
    position: relative;
    color: #fff;
    width: 810px;
    margin: 0 auto 50px;
    padding-top: 50px;
    border-bottom: 128px solid #2280be;
    border-right: 15px solid transparent;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 500px;
      padding-top: 25px;
      font-size: 30px;
      font-weight: 700;
      -webkit-transform: translate(-50%,50%);
      -moz-transform: translate(-50%,50%);
      -ms-transform: translate(-50%,50%);
      -o-transform: translate(-50%,50%);
      transform: translate(-50%,50%);
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: calc(50% - 15px);
      top: 186px;
      border-top: 20px solid #2280be;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
    }
  }
.test {
  span {
    display: block;
    margin: 20px 0 30px;
    font-size: 26px;
  }
}
  button {
    padding: 10px 30px;
    height: 60px;
    width: 460px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #B18C2A;
    border-radius: 10px;
    box-shadow: 0 0 11px 0 rgba(101, 99, 99, 0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCE4A8), to(#F2C650));
    background-image: -webkit-linear-gradient(top, #FCE4A8, #F2C650);
    background-image: -moz-linear-gradient(top, #FCE4A8, #F2C650);
    background-image: -ms-linear-gradient(top, #FCE4A8, #F2C650);
    background-image: -o-linear-gradient(top, #FCE4A8, #F2C650);
    background-image: linear-gradient(to bottom, #FCE4A8, #F2C650);
  }
  .small {
    span {
      display: block;
      font-size: 15px;
      margin: 20px auto 60px;
    }
  }
}
.contacts-bg {
  background: #333333;
  .contacts {
    color: #fff;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-left: 20px;
    box-sizing: border-box;
    width: 1160px;
    div {
      vertical-align: top;
    }
    h2 {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      margin: 60px 0 30px;
    }
    div {
      display: inline-block;
    }
    .logo {
      width: 25%;
      padding: 10px 100px 10px 0;
      img {
        display: block;
        margin-top: 100px;
      }
      span {
        padding: 20px 0;
        display: block;
        font-size: 14px;
      }
    }
    .details {
      width: 200px;
      padding: 0 75px 10px 10px;

      a {
        display: block;
        color: white;
        font-size: 13px;
        text-decoration: none;
        padding: 10px 0;
        border-bottom: 1px solid white;
      }
      a:hover {
        text-decoration: underline;
      }
      span {
        display: block;
        font-size: 13px;
        padding: 10px 0;
        border-bottom: 1px solid white;
      }
      span:last-child {
        border: none;
      }
    }
    .blog {
      width: 250px;
      a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 0;
        font-size: 13px;
      }
    }
    .social {
      margin-left: 105px;
      width: 65px;
      div {
        background: #ffffff;
        display: block;
        margin: 10px 0;
        width: 20px;
        height: 20px;
      }
    }
  }
}
footer {
  background-color: #1A1A1A;
  .centered {
    width: 1160px;
    margin: 0 auto;
  }
  .nav {
    display: inline-block;
    ul {
      padding: 20px 0;
      li {
        display: inline-block;
        margin-right: 40px;
      }
      a {
        color: #B3B3B3;
        text-decoration: none;
        font-size: 18px;
      }
      .current {
         color: #ffffff;
       }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .subscribe {
    display: inline-block;
    margin-right: 10px;
    float: right;
    input {
      background: #000 url("../img/input_icon.png") 255px 12px no-repeat;
      border: 1px solid black;
      box-sizing: border-box;
      width: 285px;
      height: 39px;
      color: #B3B3B3;
      font-size: 14px;
      padding: 0 40px 0 20px;
      margin: 30px 0 0;
      outline: none;
    }
  }
  .copyright {
    display: block;
    color: #B3B3B3;
    padding-bottom: 20px;
    font-size: 12px;
    a {
      color: #B3B3B3;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  header .content,
  header .fix .centered,
  .about,.bg .price,
  .benefits .white,
  .benefits .grey .grey-benefit,
  .faq,.contacts-bg .contacts,
  footer .centered {
    width: 1000px;
  }
  header .nav {
    margin:55px 25px 35px;
  }
  header .items {
    span {
      font-size: 18px;
      padding: 0;

    }
    span.bold {
      font-size: 28px;
      padding: 0;
    }
    div {
      width: 250px;
      height: 110px;
      padding: 15px 30px;
    }
  }
  header .steps .box {
    width: 300px;
    height: 300px;
  }
  .about .points .point {
    height: 300px;
    width: 280px;
  }
  .bg .testmonials .slider {
    width: 850px;
  }
  .bg .pricing .table {
    width: 175px;
  }
  .benefits .white div,
  .benefits .grey .grey-benefit div {
    width: 440px;
  }
  .benefits .grey .grey-benefit img {
    margin: 40px 0 40px 200px;
  }
  .contacts-bg .contacts .logo {
    width: 25%;
    padding: 10px 40px 10px 10px;
  }
  .contacts-bg .contacts .details {
    padding: 0 40px 10px 10px;
  }
}

@media (min-width: 899px) and (max-width: 1099px) {
  header .content,
  header .fix .centered,
  .about,.bg .price,
  .benefits .white,
  .benefits .grey .grey-benefit,
  .faq,
  .contacts-bg .contacts,
  footer .centered {
    width: 880px;
    margin: 0 auto;
  }
  header .logo {
   img {
     width: 200px;
   }
  }
  header .nav {
    margin: 50px 15px;
    ul {
      a {
        padding-left: 15px;
        font-size: 16px;
      }
    }
  }
  header .subscribe {
    margin-top: 37px;
    button:first-child {
      margin-right: 10px;
    }
  }
  header .items {
    margin: 50px auto;
    span {
      font-size: 16px;
      padding: 0;
    }
    span.bold {
      font-size: 28px;
      padding: 0;
    }
    div {
      width: 240px;
      height: 110px;
      padding: 20px 30px;
    }
  }
  header .steps .box {
    width: 275px;
    height: 315px;
  }
  .about .points .point {
    height: 300px;
    width: 260px;
    span {
      line-height: 1.3;
    }
  }
  .bg .testmonials .slider {
    width: 790px;
     .slick-slide .slide {
       padding: 20px;
     }
  }
  .bg .pricing .table {
    width: 150px;
    .trial button {
      height: 30px;
      width: 120px;
      padding: 5px;
    }
  }
  .benefits .white div,
  .benefits .grey .grey-benefit div {
    width: 360px;
    margin-left: 40px;
  }
  .benefits .grey .grey-benefit img {
    margin: 40px 0 40px 200px;
  }
  .faq .question {
    width: 41%;
    background-color: #F2F2F2;
    margin: 0 15px 15px;
    padding: 25px 10px 25px 30px;
  }
  .free .cloud {
    width: 600px;
    span {
      font-size: 25px;
    }
  }
  .contacts-bg .contacts .logo {
    width: 20%;
    padding: 10px 35px 10px 40px;
  }
  .contacts-bg .contacts .details {
    padding: 0 30px 10px 10px;
  }
  .contacts-bg .contacts .blog {
    width: 205px;
  }
  .contacts-bg .contacts .social {
    margin-left: 40px;
    width: 10%;
  }
  footer .nav,
  footer .copyright{
    padding-left: 40px;
  }
}

@media (min-width: 700px) and (max-width: 898px) {
  header .content,
  header .fix .centered,
  .about,.bg .price,
  .benefits .white,
  .benefits .grey .grey-benefit,
  .faq,
  .contacts-bg .contacts,
  footer .centered {
    width: 650px;
    margin: 0 auto;
  }
  header .nav{
    margin: 50px 20px 0 40px;
    .menu {
      display: none;
      position: absolute;
      background-color: #f2f4f6;
      padding: 20px 30px 20px 10px;
      margin-top: 10px;
      li {
        display: block;
      }
    }
    img {
      display: block;
      width: 40px;
      height: 30px;
      }
    }
  header .subscribe button:first-child {
    margin-right: 10px;
  }
  header .items {
    margin: 50px auto;
    span {
      font-size: 16px;
      padding: 0;

    }
    span.bold {
      font-size: 28px;
      padding: 0;
    }
    div {
      width: 240px;
      height: 110px;
      padding: 20px 30px;
    }
  }
  header .steps .box {
    width: 275px;
    height: 315px;
    margin: 25px 10px;
  }
  .about .points .point {
    height: 300px;
    width: 260px;
    span {
      line-height: 1.3;
    }
  }
  .bg .testmonials .slider {
    width: 650px;
    .slick-slide .slide {
      padding: 20px;
    }
    .slick-slide blockquote {
      padding: 20px;
    }
  }
  .bg .pricing {
    padding-bottom: 10px;
    .table {
    width: 150px;
    margin: 10px;
    div {
      height: 45px;
      span, h4 {
        padding: 12px 0;
      }
    }
    .trial {
      height: 90px;
      button {
        height: 30px;
        width: 90px;
        padding: 5px;
      }
    }}
  }
  .benefits .white div,
  .benefits .grey .grey-benefit div {
    width: 260px;
    margin-left: 40px;
    img {
      margin: 40px;
    }
  }
  .benefits .grey .grey-benefit img {
    margin: 40px 0 40px 50px;
  }
  .faq .question {
    width: 37%;
    background-color: #F2F2F2;
    margin: 0 15px 15px;
    padding: 25px 20px 25px 30px;
    h3 {
      padding-right: 50px;
    }
  }
  .free {
    div {
      width: 600px;
    }
    .cloud {
    width: 600px;
    span {
      font-size: 25px;
    }
  }
  }
  .contacts-bg .contacts .logo {
    width: 300px;
    padding: 10px 35px 10px 40px;
  }
  .contacts-bg .contacts .details {
    padding: 0 30px 10px 10px;
  }
  .contacts-bg .contacts .blog {
    width: 300px;
    padding-left: 40px;
  }
  .contacts-bg .contacts .social {
    margin-left: 40px;
    width: 10%;
  }
  footer .nav,
  footer .copyright{
    padding-left: 40px;
  }
  footer .subscribe input {
    width: 235px;
    background: #000 url("../img/input_icon.png") 205px 12px no-repeat
  }
  footer .nav ul li {
    margin-right: 10px;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  header .content,
  header .fix .centered,
  .about,.bg .price,
  .benefits .white,
  .benefits .grey .grey-benefit,
  .faq,
  .contacts-bg .contacts,
  footer .centered {
    width: 450px;
    margin: 0 auto;
  }
  header .nav{
    margin: 50px 30px 10px 54px;
    position: relative;
    .menu {
      display: none;
      position: absolute;
      background-color: #f2f4f6;
      padding: 10px;
    }
    img {
      display: block;
      width: 40px;
      height: 30px;
    }
  }
  header .feedback{
    width: 100%;
    h1 {
    font-size: 50px;
    margin: 20px auto;
  }
    p {
      font-size: 18px;
    }
  }

  header .subscribe  {
    display: none
  }
  header .items {
    margin: 50px auto;
    span {
      font-size: 16px;
      padding: 0;

    }
    span.bold {
      font-size: 26px;
      padding: 0;
    }
    div {
      width: 240px;
      height: 110px;
    }
  }
  header .steps {
    h5 {
      margin: 30px;
    }
    .box {
      width: 275px;
      height: 315px;
      margin: 25px 10px;
    }
  }
  .about .points .point {
    height: 300px;
    width: 260px;
    span {
      line-height: 1.3;
    }
  }
  .bg .testmonials {
    padding-top: 100px;
    .slider {
    width: 450px;
    .slick-slide {
      margin: 0 25px;
      blockquote {
      padding: 20px ;
    }
      .slide {
        padding: 20px;
      }
    }
    }
  }

  .bg {
    .price {
      width: 470px;
      .flags {
      width: 100%;
      }
      .pricing {
        padding-bottom: 10px;
        .table {
          width: 150px;
          margin: 10px;
          div {
            height: 45px;
            span, h4 {
              padding: 12px 0;
            }
          }
          .trial {
            height: 90px;
            button {
              height: 30px;
              width: 90px;
              padding: 5px;
            }
          }
        }
      }
    }
  }
  .benefits .white div,
  .benefits .grey .grey-benefit div {
    max-width: 200px;
    margin: 20px 0 20px 20px;
    img {
      width: 100%;
      margin: 10px auto;
    }
  }
  .benefits .grey .grey-benefit img {
    margin: 40px 0 40px 50px;
  }
  .faq .question {
    width: 100%;
    box-sizing: border-box;
    background-color: #F2F2F2;
    margin: 10px auto;
    padding: 25px 20px 25px 30px;
    h3 {
      padding-right: 50px;
    }
  }
  .free {
    div {
      width: 100%;
      box-sizing: border-box;
    }
    .cloud {
      width: 90%;
      box-sizing: border-box;
      span {
        font-size: 25px;
        width: 100%;
        margin: 10px 15px;
      }
    }
    button {
      width: 260px;
      font-size: 16px;
    }
  }
  .contacts-bg .contacts {
    .logo {
      width: 225px;
      padding: 10px 40px 10px 15px;
      box-sizing: border-box;
      img {
        margin-top: 30px;
      }
    }
    h2 {
      margin: 50px 0 10px;
    }
    .details {
      padding: 0 10px 10px;
      box-sizing: border-box;
    }
    .blog {
      width: 200px;
      padding-left: 40px;
    }
     .social {
      margin-left: 40px;
      width: 10%;
    }
  }
  footer .nav,
  footer .copyright,
  footer .subscribe{
    //padding-left: 40px;
    //padding-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
  footer .nav {
    width: 75%;
  }
  footer .copyright {
    width: 110px;
    padding: 20px;
  }
  footer .subscribe{
    width: 235px;
    float: none;
    input {
    width: 235px;
    background: #000 url("../img/input_icon.png") 205px 12px no-repeat;
    margin: 0;
  }}
  footer .nav ul li {
    margin-right: 10px;
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  header .content,
  header .fix .centered,
  .about,.bg .price,
  .benefits .white,
  .benefits .grey .grey-benefit,
  .faq,
  .contacts-bg .contacts,
  footer .centered {
    width: 300px;
    margin: 0 auto;
  }
  header {
    .logo {
      width: 150px;
      margin: 10px 0 0 20px;
      img {
        width: 100%;
      }
    }
    .nav{
      margin:16px 0 0 90px ;
      position: relative;
      .menu {
        display: none;
        position: absolute;
        background-color: #f2f4f6;
        padding: 10px;
        top: 35px;
        right: 10px;
      }
      img {
        display: block;
        width: 40px;
        height: 30px;
      }
      }
    .subscribe {
      display: none;
    }
    .feedback{
      width: 100%;
      h1 {
        font-size: 42px;
        margin: 20px auto;
      }
      p {
        font-size: 18px;
      }
      button{
        font-size: 17px;
        padding: 10px 20px;
      }
      span {
        padding: 20px;
      }
    }
    .subscribe  {
      display: none
    }
    .items {
      margin: 50px auto;
      span {
        font-size: 14px;
        padding: 0;

      }
      span.bold {
        font-size: 24px;
        padding: 0;
      }
      div {
        width: 240px;
        height: 110px;
      }
    }
    .steps {
      h5 {
        margin: 30px;
      }
      h2 {
        font-size: 28px;
      }
      .box {
        width: 275px;
        height: 315px;
        margin: 25px 10px;
      }
    }

    }
  .about {
    h2 {
      font-size: 28px;
    }
    .points .point {
      height: 300px;
      width: 260px;
      span {
        line-height: 1.3;
      }
    }
  }

 .bg .testmonials {
      padding-top: 100px;
      .slider {
        width: 320px;
        .slick-slide {
          margin: 0 10px;
          img {
            width: 90%;
          }
          blockquote {
            padding: 20px ;
            font-size: 14px;
          }
          .slide {
            padding: 10px;
          }
        }
      }
    }


  .bg {
    .price {
      width: 300px;
      .amazon {
        width: 100%;
        margin: 60px auto 20px;
        box-sizing: border-box;
        img {
          width: 100%;
          box-sizing: border-box;
        }
      }
      p {
          width: 300px;
        }
    }
      .flags {
        width: 100%;
      }
      .pricing {
        padding-bottom: 10px;
        margin-top: 0;
        .table {
          width: 150px;
          margin: 10px;
          div {
            height: 45px;
            span, h4 {
              padding: 12px 0;
            }
          }
          .trial {
            height: 90px;
            button {
              height: 30px;
              width: 90px;
              padding: 5px;
            }
          }
        }
      }
    }
  .benefits .white div:first-of-type,
  .benefits .grey .grey-benefit div:last-of-type {
    margin: 0 100px;
    width: 100px;
    vertical-align: top;
    img {
      width: 100%;
      margin: 10px auto;
    }
  }
  .benefits .white div,
  .benefits .grey .grey-benefit div{
    width: 280px;
    margin: 0 auto;
    p {
    margin-bottom: 20px;
  }
  }

  .benefits {
    h2 {
      font-size: 28px;
    }
    h4 {
      margin-top: 20px;
      font-size: 20px;
    }

  }
  .faq {
    width: 100%;
    box-sizing: border-box;
    h2 {
      font-size: 28px;
    }
    .question {
    width: 90%;
    box-sizing: border-box;
    background-color: #F2F2F2;
    margin: 10px 20px;
    padding: 25px 20px 25px 30px;
    h3 {
      font-size: 22px;
      padding-right: 50px;
    }
  }}
  .free {
    div {
      width: 100%;
      box-sizing: border-box;
    }
    .cloud {
      width: 90%;
      box-sizing: border-box;
      span {
        font-size: 18px;
        width: 100%;
        padding: 20px 30px 20px 20px;
      }
    }
    button {
      width: 260px;
      font-size: 16px;
    }
  }
  .contacts-bg .contacts {
    .logo {
      width: 100%;
      padding: 10px 40px 10px 0;
      box-sizing: border-box;
      img {
        margin-top: 30px;
      }
    }
    h2 {
      margin: 50px 0 10px;
    }
    .details {
      padding: 0 0 10px;
      box-sizing: border-box;
    }
    .blog {
      width: 100%;
    }
    .social {
      width: 100%;
      margin-left: 0;
      div {
        display: inline-block;
      }
    }
  }
  footer .nav,
  footer .copyright,
  footer .subscribe{
    //padding-left: 40px;
    //padding-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
  footer .nav {
    width: 75%;
  }
  footer .copyright {
    width: 110px;
    padding: 20px;
  }
  footer .subscribe{
    width: 235px;
    float: none;
    input {
      width: 235px;
      background: #000 url("../img/input_icon.png") 205px 12px no-repeat;
      margin: 0;
    }}
  footer .nav ul li {
    margin-right: 10px;
  }
}
